/******************************************************************************\
|                                                                              |
|                          _light-chat-messages.scss                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";

//
// colors
//

$user-comment-color: text-colors.$dark-color;
$user-comment-background-color: white;
$connection-comment-color: text-colors.$dark-color;
$connection-comment-background-color: lighten(colors.$very-very-light-grey, 5%);

//
// styles
//

body:not(.binary).light {
	.messages-list {

		.user.message:not(.selected) {
			.comment-inner {
				color: $user-comment-color;
				background-color: $user-comment-background-color;
				border-color: $user-comment-background-color;
			}

			.comment-arrow {
				border-right-color: $user-comment-background-color;
			}
		}

		.connection.message:not(.selected) {
			.comment-inner {
				color: $connection-comment-color;
				background-color: $connection-comment-background-color;
				border-color: $connection-comment-background-color;
			}

			.comment-arrow {
				border-left-color: $connection-comment-background-color;
			}
		}
	}
}