/******************************************************************************\
|                                                                              |
|                                _spinners.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// variables
//

$color: black;
$background-color: rgba(white, 50%);

//
// styles
//

.spinner {
	display: none;
	position: absolute;
	border-width: 25px;
	border-style: solid;
	border-top-width: 25px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-left: -50px;
	margin-top: -50px;
	object-fit: cover;
	box-shadow: none;
	border-color: $background-color;
	border-top-color: $color;
}
	
.loading.spinner, .loading .spinner {
	display: block !important;

	// animation
	//
	animation: spinning-keyframes 2s linear infinite;
	-webkit-transform: rotateZ(360deg);
}