/******************************************************************************\
|                                                                              |
|                             _rounded-chalk.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../colors/colors";
@use "../lighting";

//
// variables
//

$specular-strength: 25%;
$specular-width: 50%;

$diffuse-strength: 10%;
$diffuse-width: 50%;

//
// mixins
//

@mixin shade($color: white, $border-style: outset, $border-radius: 10px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			colors.fade(black, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			colors.fade(black, 10%) 0%,
			transparent $border-radius) no-repeat,

		// specular
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $specular-strength) 0%,
			transparent $specular-width) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $diffuse-strength) 0%,
			transparent $diffuse-width) no-repeat;

	// ambient
	//
	background-color: $color;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin multilayer-shade($color: white, $border-style: outset, $border-radius: 10px) {
	background:

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $diffuse-strength) 0%,
			transparent $diffuse-width) no-repeat;

	// ambient
	//
	background-color: $color;

	// overlay layer
	//
	position: relative;
	overflow: hidden;
	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// left shaded
			//
			linear-gradient(to right,
				colors.fade(lighting.darken($color, 20%), 50%) 0%,
				transparent $border-radius) no-repeat,

			// right shaded
			//
			linear-gradient(to left,
				colors.fade(lighting.darken($color, 20%), 50%) 0%,
				transparent $border-radius) no-repeat,

			// specular
			//
			linear-gradient(var(--light-direction),
				colors.fade(white, $specular-strength) 0%,
				transparent $specular-width) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

//
// color mixins
//

@mixin shaded($color: white, $border-style: outset, $border-radius: 10px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			colors.faded(black, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			colors.faded(black, 10%) 0%,
			transparent $border-radius) no-repeat,

		// specular
		//
		linear-gradient(to bottom,
			colors.faded(white, $specular-strength) 0%,
			transparent $specular-width) no-repeat,

		// diffuse
		//
		linear-gradient(to bottom,
			colors.faded(white, $diffuse-strength) 0%,
			transparent $diffuse-width) no-repeat;

	// ambient
	//
	background-color: $color;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin multilayer-shaded($color: white, $border-style: outset, $border-radius: 10px) {
	background:

		// diffuse
		//
		linear-gradient(to bottom,
			colors.faded(white, $diffuse-strength) 0%,
			transparent $diffuse-width) no-repeat;

	// ambient
	//
	background-color: $color;

	// overlay layer
	//
	position: relative;
	overflow: hidden;
	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// left shaded
			//
			linear-gradient(to right,
				colors.faded(lighting.darken($color, 20%), 50%) 0%,
				transparent $border-radius) no-repeat,

			// right shaded
			//
			linear-gradient(to left,
				colors.faded(lighting.darken($color, 20%), 50%) 0%,
				transparent $border-radius) no-repeat,

			// specular
			//
			linear-gradient(to bottom,
				colors.faded(white, $specular-strength) 0%,
				transparent $specular-width) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}