/******************************************************************************\
|                                                                              |
|                          _dark-comment-replies.scss                          |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";
@use "dark-post-comments";

//
// colors
//

$title-color: white;
$text-color: text-colors.$light-color;
$link-color: white;
$background-color: dark-post-comments.$background-color;
$border-color: $background-color;
$arrow-color: $background-color;

//
// styles
//

body:not(.binary).dark {
	.replies-list {

		//
		// dark unselected comment replies
		//

		> .reply:not(.selected) > .info > .comment-bubble {
		
			> .comment-inner {
				color: $text-color;
				background-color: $background-color;
				border-color: $border-color;

				.title {
					color: $title-color;
				}

				a {
					color: $link-color;
				}
			}

			//
			// dark unselected comment reply arrows
			//

			&.top > .comment-arrow {
				border-top-color: $arrow-color;
			}
			&.right > .comment-arrow {
				border-right-color: $arrow-color;
			}
			&.left > .comment-arrow {
				border-left-color: $arrow-color;
			}
			&.bottom > .comment-arrow {
				border-bottom-color: $arrow-color;
			}
		}
	}
}