/******************************************************************************\
|                                                                              |
|                         _dark-plastic-task-bars.scss                         |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../../materials/plastic/round-plastic";
@use "../../navs/dark-task-bars";

//
// styles
//

body:not(.binary) {
	&.dark.plastic {

		//
		// dark plastic unminimized task bars
		//

		#desktop:not(.task-bar-minimized):not(.colorful) .task-bar {
			.task-list {
				li {
					@include round-plastic.shaded(dark-task-bars.$item-color);
				}
			}
		}

		#desktop.coloful:not(.task-bar-minimized) .task-bar {
			.task-list {
				li:not(.colored) {
					@include round-plastic.shaded(dark-task-bars.$item-color);
				}
			}
		}

		//
		// dark plastic minimized task bars
		//

		#desktop.task-bar-minimized:not(.colorful) .task-bar {
			.task-list {
				li:not(.colored) {
					@include round-plastic.shaded(dark-task-bars.$item-color);
				}
			}
		}
	}
}