/******************************************************************************\
|                                                                              |
|                            _light-item-tiles.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";
@use "../navs/light-selection";

//
// colors
//

$background: colors.faded(colors.$very-light-grey, 25%);
$grid-color: white;
$grid-background-color: colors.$ultra-dark-grey;
$name-color: text-colors.$dark-color;
$name-background-color: colors.faded(colors.$very-very-light-grey, 50%);
$details-background-color: colors.faded(colors.$very-light-grey, 50%);
$highlighted-border-color: light-selection.$highlight-color;
$selected-border-color: colors.$very-light-grey;

//
// styles
//

body:not(.binary).light {
	.tile-grid {

		//
		// items
		//

		.item {

			> .tile {
				background-color: $background;

				.name {
					color: $name-color;
					background-color: $name-background-color;

					//
					// editable names
					//

					&[contenteditable="true"] {
						color: text-colors.$dark-color;
						background-color: white;
						outline-color: light-selection.$edit-highlight-color;
					}
				}
			}

			> .specifics {
				.details {
					background-color: $details-background-color;
				}
			}
		}

		//
		// highlighted items
		//

		.item.highlighted {

			.tile {
				border-color: $highlighted-border-color;

				.thumbnail::after {
					border-color: $highlighted-border-color;
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: light-selection.$highlight-color;
					}

					//
					// editable names
					//

					&[contenteditable="true"] {
						border-top-color: light-selection.$highlight-color;
					}
				}
			}
		}
		
		//
		// selected items
		//

		.item.selected {

			.tile {
				border-color: $selected-border-color;

				.thumbnail::after {
					border-color: $selected-border-color;
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
					}

					//
					// uneditable names
					//

					&[contenteditable="true"] {
						border-top-color: light-selection.$select-color;
					}
				}
			}

			.details {
				color: white;
				background-color: light-selection.$select-color;
			}
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {
		.tile-grid {

			.item.selected {

				.tile {
					border-color: light-selection.$highlight-color;

					.thumbnail::after {
						border-color: light-selection.$highlight-color;
					}

					.name {

						//
						// uneditable names
						//

						&:not([contenteditable="true"]) {
							color: white;
							background-color: light-selection.$highlight-color;
						}

						//
						// editable names
						//

						&[contenteditable="true"] {
							color: text-colors.$dark-color;
							background-color: white;
							outline-color: light-selection.$edit-highlight-color;
						}
					}
				}

				.details {
					color: white;
					background-color: light-selection.$highlight-color;
				}
			}
		}
	}
}