/******************************************************************************\
|                                                                              |
|                               _light-panels.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";
@use "../colors/light-branding";

//
// colors
//

$color: text-colors.$dark-color;
$background-color: colors.$ultra-light-grey;
$border-color: $background-color;

$title-color: light-branding.$secondary-color;
$label-color: light-branding.$primary-color;
$content-color: white;

$hover-color: $content-color;
$select-color: light-branding.$secondary-color;
$section-border-color: darken($color, 5%);
$light-nested-panel-color: white;

//
// styles
//

body:not(.binary).light {
	.panel, ul.panels > li {

		//
		// panel list items
		//

		&.panel {
			color: $color;
			background-color: $background-color;
			border-color: $border-color;
		}

		//
		// light panel labels
		//

		label {
			color: $label-color;
		}

		//
		// light panel content
		//

		.content {
			background-color: $content-color;
			border-color: $border-color;
			
			.title {
				i {
					color: $title-color;
				}
			}

			.details {
				border-top-color: $border-color;
			}
		}

		.selected .content {
			color: white;
			background-color: $select-color;

			a {
				color: white;
			}
		}
	}

	//
	// light transparent panels
	//

	&.transparent, &.translucent {
		.modal-dialog:not(.maximized) {
			.panel:not(.selected), ul.panels > li:not(.selected) {
				border-color: $border-color;
			}
		}
	}

	/*
	&.transparent .desktop.app {
		.panel, ul.panels > li {
			@include glass.plate($color);
		}
	}

	&.translucent .desktop.app {
		.panel, ul.panels > li {
			.frosted-glass($color);
		}
	}
	*/

	//
	// light nested panels
	//

	.panel {
		.panel {
			background-color: $light-nested-panel-color;
		}
	}

	.mainbar .panel {
		.card-grid .cards .item:not(.highlighted):not(.selected) > .card {
			background-color: $light-nested-panel-color;
		}
	}

	//
	// light panel lists
	//

	ul.panels > li {
		&:hover {
			background-color: $hover-color;
		}
	}
}