/******************************************************************************\
|                                                                              |
|                              _dark-map-items.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/text-colors";

//
// styles
//

body:not(.binary):not(.colored) {
	&.dark {
		.items-map {
		
			//
			// map layers
			//

			.layer {
				color: text-colors.$dark-color;
			}

			//
			// non-photographic map overlay items
			//

			.map:not(.aerial):not(.satellite):not(.hybrid) ~ .layer {
				.item-list .item > .info > .specifics .details {
					color: text-colors.$dark-color;
				}
			}
		}
	}
}