/******************************************************************************\
|                                                                              |
|                           _colored-scrollbars.scss                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// mixins
//

@mixin inactive-thumb-colored($color, $hover-color) {
	::-webkit-scrollbar-thumb:not(:active) {
		background-color: $color;

		&:hover {
			background-color: $hover-color;
		}
	}
}

@mixin active-thumb-colored($active-color) {
	::-webkit-scrollbar-thumb:active {
		background-color: $active-color;
	}
}

@mixin thumb-colored($color, $hover-color, $active-color) {
	@include inactive-thumb-colored($color, $hover-color);
	@include active-thumb-colored($active-color);
}

@mixin track-colored($track-color) {
	::-webkit-scrollbar-track,
	::-webkit-scrollbar-corner {
		background-color: $track-color;
	}

	::-webkit-scrollbar-thumb {
		border-color: $track-color;
	}
}

@mixin colored($color, $hover-color, $active-color, $track-color) {
	@include thumb-colored($color, $hover-color, $active-color);
	@include track-colored($track-color);
}