/******************************************************************************\
|                                                                              |
|                             _flat-plastic.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../colors/colors";
@use "../lighting";

//
// variables
//

$highlight-strength: 75%;
$highlight-size: 15%;

$specular-strength: 15%;
$specular-size: 25%;

$diffuse-strength: 10%;
$diffuse-size: 50%;

//
// mixins
//

@mixin shade($color: white, $border-style: outset) {
	background:

		// highlight
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $highlight-strength) 0%,
			transparent $highlight-size) no-repeat,

		// specular
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $specular-strength) 0%,
			transparent $specular-size) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $diffuse-strength) 0%,
			transparent $diffuse-size) no-repeat;

	// ambient
	//
	background-color: $color;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin multilayer-shade($color: white, $border-style: outset) {
	background:

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $diffuse-strength) 0%,
			transparent $diffuse-size,
			colors.fade(black, $diffuse-strength) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	// ambient
	//
	background-color: $color;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// highlight
			//
			linear-gradient(var(--light-direction),
				colors.fade(white, $highlight-strength) 0%,
				transparent $highlight-size) no-repeat,

			// specular
			//
			linear-gradient(var(--light-direction),
				colors.fade(white, $specular-strength) 0%,
				transparent $specular-size) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

//
// color mixins
//

@mixin shaded($color: white, $border-style: outset) {
	background:

		// highlight
		//
		linear-gradient(var(--light-direction),
			colors.faded(white, $highlight-strength) 0%,
			colors.faded(white, 0%) $highlight-size) no-repeat,

		// specular
		//
		linear-gradient(var(--light-direction),
			colors.faded(white, $specular-strength) 0%,
			colors.faded(white, 0%) $specular-size) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.faded(white, $diffuse-strength) 0%,
			transparent $diffuse-size) no-repeat;

	// ambient
	//
	background-color: $color;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin multilayer-shaded($color: white, $border-style: outset) {
	background:

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.faded(white, $diffuse-strength) 0%,
			transparent $diffuse-size,
			colors.faded(black, $diffuse-strength) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	// ambient
	//
	background-color: $color;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;

		background:

			// highlight
			//
			linear-gradient(var(--light-direction),
				colors.faded(white, $highlight-strength) 0%,
				colors.faded(white, 0%) $highlight-size) no-repeat,

			// specular
			//
			linear-gradient(var(--light-direction),
				colors.faded(white, $specular-strength) 0%,
				colors.faded(white, 0%) $specular-size) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}