/******************************************************************************\
|                                                                              |
|                          _long-round-plastic.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../colors/colors";
@use "../lighting";

//
// variables
//

$highlight-strength: 100%;
$highlight-size: 25%;
$highlight-offset: 10%;
$highlight-width: 5%;

$diffuse-strength: 10%;
$diffuse-offset: 50%;

//
// mixins
//

@mixin shade($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to bottom,
			transparent 0%,
			colors.fade(white, $highlight-strength) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.fade(white, $highlight-strength) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc(33% + $border-width)) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.fade(white, $diffuse-strength) 0%,
			transparent $diffuse-offset,
			colors.fade(black, $diffuse-strength) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin vertical-shade($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// top shaded
		//
		linear-gradient(to bottom,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shaded
		//
		linear-gradient(to top,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to right,
			transparent 0%,
			colors.fade(white, $highlight-strength) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.fade(white, $highlight-strength) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc(33% + $border-width)) no-repeat,

		// diffuse
		//
		linear-gradient(to right,
			lighting.darken($color, 10%) 0,
			$color 50%,
			lighting.darken($color, 10%) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

//
// multilayer mixins
//

@mixin multilayer-shade($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			lighting.darken($color, 10%) 0,
			$color 50%,
			lighting.darken($color, 10%) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: screen;

		background:

			// left shaded
			//
			linear-gradient(to right,
				black 0%,
				transparent $border-radius) no-repeat,

			// right shaded
			//
			linear-gradient(to left,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to bottom,
				black 0%,
				white calc($highlight-offset - $highlight-width / 2 + $border-width),
				white calc($highlight-offset + $highlight-width / 2 + $border-width),
				black calc(33% + $border-width)) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin vertical-multilayer-shade($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// top shaded
		//
		linear-gradient(to bottom,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shaded
		//
		linear-gradient(to top,
			lighting.darken($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// diffuse
		//
		linear-gradient(to right,
			lighting.darken($color, 10%) 0,
			$color 50%,
			lighting.darken($color, 10%) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: screen;

		background:

			// top shaded
			//
			linear-gradient(to bottom,
				black 0%,
				transparent $border-radius) no-repeat,

			// bottom shaded
			//
			linear-gradient(to top,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to right,
				colors.fade(white, 50%) 0%,
				white calc($highlight-offset - $highlight-width / 2 + $border-width),
				white calc($highlight-offset + $highlight-width / 2 + $border-width),
				transparent calc(33% + $border-width)) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lighten($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darken($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

//
// color mixins
//

@mixin shaded($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to bottom,
			transparent 0%,
			colors.faded(white, $highlight-strength) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.faded(white, $highlight-strength) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc(33% + $border-width)) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			colors.faded(white, $diffuse-strength) 0%,
			transparent $diffuse-offset,
			colors.faded(black, $diffuse-strength) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin vertical-shaded($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// top shaded
		//
		linear-gradient(to bottom,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shaded
		//
		linear-gradient(to top,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// highlight
		//
		linear-gradient(to right,
			transparent 0%,
			colors.faded(white, $highlight-strength) calc($highlight-offset - $highlight-width / 2 + $border-width),
			colors.faded(white, $highlight-strength) calc($highlight-offset + $highlight-width / 2 + $border-width),
			transparent calc(33% + $border-width)) no-repeat,

		// diffuse
		//
		linear-gradient(to right,
			lighting.darkened($color, 10%) 0,
			$color 50%,
			lighting.darkened($color, 10%) 100%) no-repeat;

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

//
// multilayer mixins
//

@mixin multilayer-shaded($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// left shaded
		//
		linear-gradient(to right,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// right shaded
		//
		linear-gradient(to left,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// diffuse
		//
		linear-gradient(var(--light-direction),
			lighting.darkened($color, 10%) 0,
			$color 50%,
			lighting.darkened($color, 10%) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: screen;

		background:

			// left shaded
			//
			linear-gradient(to right,
				black 0%,
				transparent $border-radius) no-repeat,

			// right shaded
			//
			linear-gradient(to left,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to bottom,
				black 0%,
				white calc($highlight-offset - $highlight-width / 2 + $border-width),
				white calc($highlight-offset + $highlight-width / 2 + $border-width),
				black calc(33% + $border-width)) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}

@mixin vertical-multilayer-shaded($color: white, $border-radius: 50%, $border-style: outset, $border-width: 2px) {
	background:

		// top shaded
		//
		linear-gradient(to bottom,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// bottom shaded
		//
		linear-gradient(to top,
			lighting.darkened($color, 10%) 0%,
			transparent $border-radius) no-repeat,

		// diffuse
		//
		linear-gradient(to right,
			lighting.darkened($color, 10%) 0,
			$color 50%,
			lighting.darken($color, 10%) 100%) no-repeat;

	position: relative;
	overflow: hidden;

	&:after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		mix-blend-mode: screen;

		background:

			// top shaded
			//
			linear-gradient(to bottom,
				black 0%,
				transparent $border-radius) no-repeat,

			// bottom shaded
			//
			linear-gradient(to top,
				black 0%,
				transparent $border-radius) no-repeat,

			// highlight
			//
			linear-gradient(to right,
				colors.faded(white, 50%) 0%,
				white calc($highlight-offset - $highlight-width / 2 + $border-width),
				white calc($highlight-offset + $highlight-width / 2 + $border-width),
				transparent calc(33% + $border-width)) no-repeat;
	}

	// borders
	//
	@if ($border-style == inset) {
		border-color: lighting.lightened($color, 10%);
	} @else if ($border-style == outset) {
		border-color: lighting.darkened($color, 10%);
	} @else if ($border-style != none) {
		border-color: $color;
	}
}