/******************************************************************************\
|                                                                              |
|                             _frosted-glass.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "flat-glass";

//
// variables
//

$opacity: 70%;
$blur: 10px;

//
// mixins
//

@mixin frosted($blur: $blur) {
	backdrop-filter: blur($blur);
	-webkit-backdrop-filter: blur($blur);
}

@mixin polished {
	backdrop-filter: none;
	-webkit-backdrop-filter: none;
}

@mixin shade($color: white, $border-style: outset, $opacity: $opacity) {
	@include flat-glass.shade($color, $border-style, $opacity);
	@include frosted();
}

@mixin multilayer-shade($color: white, $border-style: outset, $opacity: $opacity) {
	@include flat-glass.multilayer-shade($color, $border-style, $opacity);
	@include frosted();
}

//
// color mixins
//

@mixin shaded($color: white, $border-style: outset, $opacity: $opacity) {
	@include flat-glass.shaded($color, $border-style, $opacity);
	@include frosted();
}

@mixin multilayer-shaded($color: white, $border-style: outset, $opacity: $opacity) {
	@include flat-glass.multilayer-shaded($color, $border-style, $opacity);
	@include frosted();
}