/******************************************************************************\
|                                                                              |
|                             _colorful-links.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../colors/colors";

//
// colors
//

$color: var(--primary-color);
$hover-color: colors.darken($color, 10%);

//
// styles
//

body:not(.binary).colored.colorful {

	//
	// links
	//

	a {
		color: $color;

		&:hover {
			color: $hover-color;
		}
	}
}