/******************************************************************************\
|                                                                              |
|                              _dark-images.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";

//
// styles
//

body:not(.binary).dark {
	.image img {
		outline-color: colors.$very-dark-grey;
	}

	.thumbnail:not(.missing) {
		i {
			color: colors.$medium-grey;
		}
	}

	/*
	.icon-grid, .tile-grid, .card-grid {
		.owner .thumbnail {
			background-color: colors.$very-dark-grey;
		}
	}
	*/

	/*
	.tile-grid .item > .icon > .thumbnail {
		background-color: transparent;
		// background-color: colors.faded(black, 50%);
		// background-color: unset;

		i {
			color: colors.$medium-grey;
		}
	}
	*/
}