/******************************************************************************\
|                                                                              |
|                               _dark-pages.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../colors/dark-branding";

//
// colors
//

$background-color: colors.$very-very-very-dark-grey;
$attention-color: white;
$attention-background-color: dark-branding.$primary-color;
$odd-section-background-color: colors.$very-very-dark-grey;
$iframe-border-color: colors.$dark-grey;
$footer-info-background-color: colors.$very-very-dark-grey;

//
// styles
//

body:not(.binary).dark {

	.page {
		background-color: $background-color;

		.contents {

			//
			// dark attention regions
			//

			.attention {
				color: $attention-color;
				
				&:not(.colored) {
					background-color: $attention-background-color;
				}

				i {
					color: $attention-color;
				}
			}

			//
			// dark page sections
			//

			.section {
				&:not(.colored):nth-child(odd) {
					background: $odd-section-background-color;

					.well {
						background: $background-color;
					}
				}
			}

			//
			// dark iframes
			//

			iframe {
				border-color: $iframe-border-color;
			}
		}

		.footer .content.info {
			background: $footer-info-background-color;
		}
	}
}