/******************************************************************************\
|                                                                              |
|                            _light-selection.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../medium/navs/medium-selection";
@use "../colors/light-branding";

//
// colors
//

$select-color: light-branding.$secondary-color;
$highlight-color: light-branding.$primary-color;
$disabled-color: colors.faded(colors.$very-light-grey, 50%);
$edit-highlight-color: colors.faded($select-color, 50%);
$select-box-color: light-branding.$secondary-color;
$select-box-border-color: lighten(light-branding.$secondary-color, 10%);
$select-box-opacity: medium-selection.$select-box-opacity;

//
// styles
//

body:not(.binary).light {

	.drag-image {
		border-color: $select-box-border-color;
	}

	.selection {
		background-color: colors.faded($select-box-color, $select-box-opacity);
		border-color: $select-box-border-color;
	}

	svg .selection {
		fill: colors.faded($select-box-color, $select-box-opacity);
		stroke: $select-box-border-color;
	}
}