/******************************************************************************\
|                                                                              |
|                              _light-links.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";

//
// colors
//

$color: colors.$medium-grey;
$hover-color: darken($color, 10%);

//
// styles
//

body:not(.binary).light {
	a {
		color: $color;

		&:hover {
			color: $hover-color;
		}
	}
}