/******************************************************************************\
|                                                                              |
|                            _light-nav-bars.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../colors/light-branding";

//
// colors
//

$color: colors.$light-grey;
$hover-color: colors.$medium-grey;
$active-color: white;
$brand-color: black;
$background-color: white;
$active-background-color: light-branding.$secondary-color;
$border-color: colors.$very-very-light-grey;
$indicator-background-color: white;
$indicator-border-color: $border-color;

//
// styles
//

body:not(.binary).light {
	.navbar-inverse {

		//
		// navigation
		//

		.navbar-nav {

			//
			// light nav bar indicators
			//

			.indicator {
				.bar {
					background-color: $indicator-background-color;
					border-color: $indicator-border-color;
				}
			}
		}

		//
		// uncolored light navbars
		//

		&:not(.colored) {
			background-color: $background-color;

			//
			// brand
			//

			.brand {
				color: $brand-color;
			}

			//
			// navigation
			//

			.navbar-nav {
				
				> li {

					//
					// inactive state
					//

					&:not(.active):not(.open) {
						> a, > a:focus {
							color: $color;

							//
							// hover state
							//

							&:hover {
								color: $hover-color;

								i, label {
									color: $hover-color;
								}
							}
						}
					}

					//
					// active state
					//

					&.active {
						background-color: $active-background-color;

						> a, > a:focus {
							color: $active-color;

							i, label {
								color: $active-color;
							}
						}
					}

					//
					// open state
					//

					&.open {
						background-color: $active-background-color;

						> a, > a:focus {
							color: $active-color;

							i, label {
								color: $active-color;
							}
						}
					}
				}

				//
				// light apps bar
				//

				&.apps {
					border-color: $border-color;
				}
			}
		}
	}
}