/******************************************************************************\
|                                                                              |
|                            _light-scrollbars.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../navs/colors/colored-scrollbars";

//
// colors
//

$color: colors.$very-very-light-grey;
$hover-color: darken($color, 10%);
$active-color: darken($color, 20%);
$track-color: colors.$very-very-very-light-grey;

//
// styles
//

body:not(.binary).light {

	//
	// scrollbar thumbs and tracks
	//

	@include colored-scrollbars.colored($color, $hover-color, $active-color, $track-color);
}