/******************************************************************************\
|                                                                              |
|                               _audio-player.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../colors/colors";

//
// variables
//

$analyser-background-color: colors.$ultra-dark-grey;

//
// styles
//

.audio-player.app {
	.header-bar {
		.track-bar {
			.toolbar {

				.elapsed-time, .track-length {
					min-width: 50px;
				}

				.elapsed-time {
					padding-left: 5px;
				}

				.repeat {
					margin-left: 10px;
				}

				.track-length {
					text-align: center;
				}
			}
		}
	}

	.body {
		.contents {

			.mainbar {
				.items {
					overflow: auto;
				}
			}

			.audio-analyser {
				position: relative;
				width: 100%;
				height: 100%;

				label {
					color: white;
					position: absolute;
					text-shadow: none;
					left: 10px;
					top: 5px;
				}

				canvas {
					position: absolute;
					width: 100%;
					height: 100%;
				}

				&.dark {
					canvas {
						background: $analyser-background-color;
					}
				}
			}
		}
	}

	.footer-bar {
		display: flex;
		text-align: center;

		.nav-bar {
			flex-grow: 1;
			text-align: center;
			white-space: nowrap;
		}
	}
}

//
// desktop styles
//

body[device="desktop"] {
	.audio-player.app {
		.header-bar {
			.track-bar {
				.toolbar {
					input[type="range"] {
						width: 100px; 
					}
				}
			}

			.volume-bar {
				.current {
					input[type="range"] {
						width: 75px;
					}
				}
			}
		}
	}
}