/******************************************************************************\
|                                                                              |
|                               _code-editor.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// variables
//

$light-background: white;
$dark-background: black;

//
// styles
//

.code-editor.app {
	.body > .contents {
		.sidebar {
			.badges {
				display: none;
			}
		}

		.mainbar {
			overflow: hidden;
			display: flex;
			flex-direction: column;

			.tabbed-content {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;

				#tabs {
					flex-shrink: 0;
				}

				.tab-content {
					position: relative;
					flex-grow: 1;

					.tab-pane {
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						bottom: 0;

						.ace_gutter {
							z-index: 0;
						}

						pre.ace_editor {
							width: 100%;
							height: 100%;
							border: none;
							outline: none;
							margin: 0;
							padding: 10px;	
							border-radius: 0;
							
							.ace_scrollbar {
								z-index: unset;
							}	
						}

						.ace_scroller.ace_scroll-left {
							box-shadow: none;
						}
					}
				}
			}
		}

		pre[class*="language-"] {
			margin: 0;
		}
	}
}

.code-editor {
	.body > .contents {
		.mainbar {
			.code {
				pre {
					.ace_gutter {
						background-color: white;
						border-right-width: 1px;
						border-right-style: solid;
						border-color: unset;
					}

					.ace_scroller.ace_scroll-left {
						box-shadow: none;
					}
				}
			}
		}
	}
}

.cursor-info.info-bar:not(:empty) {
	width: 150px;
}

//
// code styles
//

body.binary {

	pre.ace_editor {
		background: $light-background;
	}

	&.dark {
		pre.ace_editor {
			background: $dark-background;
		}
	}
}

body:not(.binary) {
	pre.ace_editor {
		background: none;
	}
}

//
// full screen code editor
//

.full-screen .code {
	background: white;
}

.dark .full-screen .code {
	background: black;
}