/******************************************************************************\
|                                                                              |
|                          _colored-calculator.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../colors/colors";

//
// colors
//

$keypad-color: colors.fade(colors.lighten(var(--primary-color), 20%), 20%);

//
// styles
//

body:not(.binary).colored.colored {
	.calculator.app {
		.keyboard {

			.scientific, .programmer {
				background-color: $keypad-color;
			}
		}
	}
}