/******************************************************************************\
|                                                                              |
|                             _medium-clock.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// styles
//

body.binary {
	.clock.app {

		.body {
			.face {
				background: black;

				.display {
					background: white;
				}

				.analog.display svg {
					line {
						stroke: black;
					}
				}

				/*
				.digital.display {
					@include light-grey();

					.digits {
						@include outline-text();
					}
				}
				*/
			}
		}
	}
}