/******************************************************************************\
|                                                                              |
|                          _colored-scrollbars.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../colors/branding";

//
// colors
//

$active-color: var(--primary-color);
$default-active-color: branding.$primary-color;

//
// styles
//

body:not(.binary).colored.colored {

	//
	// scrollbar thumbs
	//

	::-webkit-scrollbar-thumb:active {
		background-color: $active-color;
	}
}