
/******************************************************************************\
|                                                                              |
|                             _medium-dialogs.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";
@use "../../../../materials/glass/plate-glass";
@use "../../../../materials/glass/frosted-plate-glass";
@use "../colors/medium-branding";

//
// colors
//

$header-color: colors.$ultra-light-grey;
$title-icon-color: var(--primary-color);
$title-color: text-colors.$dark-color;
$background-color: white;
$footer-color: $header-color;
$border-color: darken($header-color, 10%);
$backdrop-color: colors.faded(black, 25%);

$unfocused-header-color: darken($header-color, 10%);
$unfocused-title-icon-color: medium-branding.$secondary-color;
$unfocused-title-color: darken($title-color, 10%);
$unfocused-background-color: darken($background-color, 10%);
$unfocused-footer-color: darken($footer-color, 10%);
$unfocused-border-color: darken($border-color, 10%);

//
// styles
//

body:not(.binary) {
	.modals {
	
		.modal-dialog {
			background: colors.$medium-grey;

			.modal-content {
				color: text-colors.$dark-color;
			}
		}

		//
		// focused dialogs
		//

		.modal.focused .modal-dialog {
			border-color: $border-color !important;

			.modal-header {
				background-color: $header-color;
				border-color: $border-color;

				.icon {

					//
					// title icon color
					//

					i {
						color: $title-icon-color;
					}

					svg {
						fill: $title-icon-color;
					}
				}

				.title {

					// clipped title ellipsis color
					//
					color: $title-color;

					// title header text color
					//
					h1 {
						color: $title-color;
					}
				}
			}

			.modal-content {
				background-color: $background-color;
				border-color: $border-color;

				.modal-footer {
					background-color: $footer-color;
					border-color: $border-color;
				}
			}
		}

		//
		// unfocused dialogs
		//

		.modal:not(.focused) .modal-dialog {
			border-color: $unfocused-border-color;

			.modal-header {
				background-color: $unfocused-header-color;
				border-color: $unfocused-border-color;

				.icon {

					//
					// unfocused title icon color
					//

					i {
						color: $unfocused-title-icon-color;
					}

					svg {
						fill: $unfocused-title-icon-color;
					}
				}

				.title {

					// clipped title ellipsis color
					//
					color: $unfocused-title-color;

					// title header text color
					//
					h1 {
						color: $unfocused-title-color;
					}
				}
			}

			.modal-content {
				background-color: $unfocused-background-color;
				border-color: $unfocused-border-color;

				.modal-footer {
					background-color: $unfocused-footer-color;
					border-color: $unfocused-border-color;
				}
			}
		}
	}

	//
	// transparent (non full screen) dialogs
	//

	&.transparent .modals {
		.modal:not(.full-screen) {

			.modal-dialog:not(.maximized) {
				background: transparent !important;
			}

			&.focused .modal-dialog {
				.modal-content {
					@include plate-glass.shaded($background-color);
				}
			}

			&:not(.focused) .modal-dialog {
				.modal-content {
					@include plate-glass.shaded($unfocused-background-color);
				}
			}
		}
	}

	//
	// translucent (non full screen) dialogs
	//

	&.translucent .modals {
		.modal:not(.full-screen) {

			.modal-dialog {
				&.maximized {
					background: white;
				}

				&:not(.maximized) {
					background: transparent;
				}
			}

			&.focused .modal-dialog {
				.modal-content {
					@include frosted-plate-glass.shaded($background-color);
				}
			}

			&:not(.focused) .modal-dialog {
				.modal-content {
					@include frosted-plate-glass.shaded($unfocused-background-color);
				}
			}
		}
	}
}