/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Source Sans Pro';
	src: url('SourceSansPro-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('SourceSansPro-Semibold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('SourceSansPro-It.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}