/******************************************************************************\
|                                                                              |
|                            _colorful-popovers.scss                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// colors
//

$title-background-color: var(--primary-color);
$title-color: var(--primary-color);
$border-color: var(--primary-color);

//
// styles
//

body:not(.binary).colored.colorful {
	.popover {
		border-color: $border-color;

		.popover-title {
			background-color: $title-background-color;
		}

		.popover-content {
			.title {
				color: $title-color;
			}
		}

		//
		// popover arrows
		//

		&.right > .arrow {
			border-right-color: $border-color;
		}

		&.left > .arrow {
			border-left-color: $border-color;
		}

		&.top > .arrow {
			border-top-color: $border-color;
		}

		&.bottom > .arrow {
			border-bottom-color: $border-color;
		}
	}
}