/******************************************************************************\
|                                                                              |
|                                 _headings.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the SVG DOM element styles for this application.         |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// variables
//

$small-size: 150%;
$medium-size: 175%;
$large-size: 250%;

//
// styles
//

h1 {
	margin-top: 0;
}

#main .page {
	h1 {
		font-size: $large-size;
		font-weight: inherit;
		line-height: 1em;
		padding-bottom: 5px;
		margin-bottom: 20px;
		border-bottom-width: 2px;
		border-bottom-style: solid;
	}

	h2 {
		font-size: $medium-size;

		&.title {
			text-align: center;
			width: 100%;
			margin-bottom: 25px;
		}
	}

	h3 {
		font-size: $small-size;
	}

	//
	// horizontal rulings
	//

	hr {
		height: 2px;
	}

	h1 {
		margin-top: 0;
	}

	h1, h2, h3 {
		hr {
			margin: 10px 0;
		}
	}

	//
	// special headings
	//

	.panel {
		h1, h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.icon-grid + h3 {
		margin-top: 0;
	}
}

//
// hide header icons
//

.hide-header-icons {

	// hide page section heading icons
	//
	.page {
		h1, h2, h3 {
			> i {
				display: none;
			}
		}
	}
}