/******************************************************************************\
|                                                                              |
|                                _tooltips.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// variables
//

$font-size: 75%;
$round-border-radius: 5px;
$rounded-border-radius: 3px;

//
// styles
//

.tooltip {
	font-size: $font-size;
	pointer-events: none;

	//
	// counter Bootstrap
	//

	&.in {
		opacity: 1;
	}

	.tooltip-inner {

		// display text ellipsis
		//
		overflow: hidden;
		text-overflow: ellipsis;
	}

	//
	// tooltip layering
	//

	&.permanant {
		z-index: 0;
	}
}

//
// tooltip corners
//

.round .tooltip {
	.tooltip-inner {
		border-radius: $round-border-radius;
	}
}

.rounded .tooltip {
	.tooltip-inner {
		border-radius: $rounded-border-radius;
	}
}

.square .tooltip {
	.tooltip-inner {
		border-radius: 0;
	}
}

//
// mobile tooltips
//

body[device="phone"], body[device="tablet"] {

	/*
	button + .tooltip,
	li + .tooltip {
		display: none !important;
	}
	*/

	.tooltip {
		display: none !important;
	}
}