/******************************************************************************\
|                                                                              |
|                               _validation.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// styles
//

label.error {
	font-weight: bold;
	padding-top: 0;
	background: url(../images/forms/error.png) 5px 0px no-repeat;
	padding-left: 30px;
}

label.error:empty {
	display: none;
}

label.error.valid {
	display: none;
}

//
// table validation
//

td.error {
	outline-offset: -2px
}