/******************************************************************************\
|                                                                              |
|                            medium-calculator.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";

//
// colors
//

$scientific-keyboard-color: colors.fade(colors.$dark-grey, 10%);
$programmer-keyboard-color: colors.fade(colors.$light-grey, 10%);

//
// styles
//

body:not(.binary).monochrome {
	.calculator.app {
		.keyboard {
			.scientific {
				background: $scientific-keyboard-color;
			}

			.programmer {
				background: $programmer-keyboard-color;
			}
		}
	}
}