/******************************************************************************\
|                                                                              |
|                          _medium-code-editor.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";

//
// colors
//

$gutter-color: text-colors.$dark-color;
$gutter-background-color: colors.$very-very-very-light-grey;
$gutter-background-active-color: colors.$very-very-light-grey;

//
// styles
//

body:not(.binary).monochrome {
	.code-editor {
		.body > .contents {

			.sidebar {
				.nav-tabs {
					i {
						color: white;
					}
				}
			}
			
			.mainbar {
				.code {
					pre {
						.ace_gutter {
							color: $gutter-color;
							$gutter-background-color: $gutter-background-color;
							$gutter-background-color: $gutter-background-color;

							.ace_gutter-active-line {
								background-color: $gutter-background-active-color;
							}
						}
					}
				}
			}
		}
	}
}