/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'News Gothic';
	src: url('NewsGothicStd.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'News Gothic';
	src: url('NewsGothicStd-Bold.otf') format('opentype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'News Gothic';
	src: url('NewsGothicStd-Oblique.otf') format('opentype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'News Gothic';
	src: url('NewsGothicStd-BoldOblique.otf') format('opentype');
	font-weight: bold;
	font-style: italic;
}