/******************************************************************************\
|                                                                              |
|                         _medium-drag-n-drop.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";

//
// colors
//

$background-color: colors.faded(colors.$ultra-light-grey, 50%);
$border-color: colors.$light-grey;

//
// styles
//

body:not(.binary) {
	.dropzone {
		
		&::after {

			// message
			//
			text-shadow: 5px 5px 10px colors.faded(black, 25%);

			// color and shaded
			//
			background-color: $background-color;

			// border color
			//
			border-color: $border-color;
		}
	}
}