/******************************************************************************\
|                                                                              |
|                             _medium-images.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../colors/medium-branding";

//
// colors
//

$image-outline-color: colors.$very-very-light-grey;
$icon-color: medium-branding.$secondary-color;
$thumbnail-icon-color: colors.$very-light-grey;

//
// styles
//

body:not(.binary) {

	.image img {
		outline-color: $image-outline-color;
	}

	.thumbnail > i,
	.icon > i {
		color: $icon-color;
	}

	.tile-grid .item > .icon > .thumbnail {
		background-color: transparent;

		i {
			color: $thumbnail-icon-color;
		}
	}
}