/******************************************************************************\
|                                                                              |
|                            _medium-splitters.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../apps/common/medium-apps";
@use "../apps/common/medium-modal-apps";

//
// variables
//

$grip-image: url('../../../../images/splitters/grip.png');
$grip-horizontal-image: url('../../../../images/splitters/horizontal-grip.png');
$grip-vertical-image: url('../../../../images/splitters/vertical-grip.png');
$grip-opacity: 0.25;

//
// colors
//

$gutter-background-color: medium-apps.$background-color;
$gutter-border-color: medium-apps.$border-color;
$gutter-unfocused-background-color: medium-modal-apps.$unfocused-background-color;
$gutter-unfocused-border-color: medium-modal-apps.$unfocused-border-color;

//
// styles
//

body:not(.binary) {
	.split-view {
		.gutter {
			background-color: $gutter-background-color;
			border-color: $gutter-border-color;

			.handle {
				background-image: $grip-image;
				image-rendering: pixelated;
				opacity: $grip-opacity;
			}

			&.gutter-horizontal {
				.handle {
					background-image: $grip-horizontal-image;
				}
			}

			&.gutter-vertical {
				.handle {
					background-image: $grip-vertical-image;
				}
			}
		}
	}

	//
	// unfocucused splitters
	//

	.modal:not(.focused) .modal-dialog .split-view {
		.gutter {
			background-color: $gutter-unfocused-background-color;
			border-color: $gutter-unfocused-border-color;
		}
	}
}
