/******************************************************************************\
|                                                                              |
|                           _medium-breadcrumbs.scss                           |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";

//
// colors
//

$color: text-colors.$dark-color;
$icon-color: colors.$medium-grey;
$slash-color: colors.$very-light-grey;
$background-color: colors.$very-very-very-light-grey;

//
// styles
//

body:not(.binary) {

	//
	// page breadcrumbs
	//

	.page .breadcrumb {
		color: $color;
		background-color: $background-color;

		//
		// page breadcrumb slashes
		//

		> li + li:before {
			color: $slash-color;
		}
	}

	//
	// address breadcrumbs
	//

	.address-bar .breadcrumb {
		color: $color;

		//
		// address breadcrumb icons
		//

		i {
			color: $icon-color;
		}

		//
		// address breadcrumb links
		//

		a {
			color: $color;
		}

		//
		// address breadcrumb slashes
		//

		> li + li:before {
			color: $slash-color;
		}
	}
}