/******************************************************************************\
|                                                                              |
|                              _light-sliders.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../forms/colors/colored-sliders";

//
// colors
//

$thumb-color: colors.$very-very-light-grey;
$thumb-hover-color: darken($thumb-color, 10%);
$thumb-active-color: darken($thumb-color, 20%);
$track-color: darken(colors.$very-very-very-light-grey, 5%);

//
// styles
//

body:not(.binary).light {
	input[type="range"] {

		//
		// slider thumbs
		//

		@include colored-sliders.thumb-colored($thumb-color, $thumb-hover-color, $thumb-active-color);

		//
		// slider tracks
		//

		@include colored-sliders.track-colored($track-color);
	}
}