/******************************************************************************\
|                                                                              |
|                           _light-form-groups.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";

//
// colors
//

$light-form-group-color: colors.$medium-grey;
$light-form-group-label-color: white;

//
// styles
//

body:not(.binary).light {
	.form-group {

		//
		// form labels
		//
		
		.form-label, .control-label {
			color: $light-form-group-color;
		}
	}

	.selected form {
		.form-group {

			//
			// form labels
			//
			
			.form-label, .control-label {
				color: $light-form-group-label-color;
			}
		}
	}
}