/******************************************************************************\
|                                                                              |
|                               _branding.scss                                 |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "colors";

//
// colors
//

$primary-color: colors.$medium-blue;
$secondary-color: colors.$medium-cyan;
$disabled-primary-color: colors.blend($primary-color, colors.$very-light-grey);
$disabled-secondary-color: colors.blend($secondary-color, colors.$very-light-grey);