/******************************************************************************\
|                                                                              |
|                              _text-colors.scss                               |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "colors";

//
// variables
//

$white-outline: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white, -1px 0 white, 1px 0 white, 0 1px white, 0 -1px white;
$black-outline: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, -1px 0 black, 1px 0 black, 0 1px black, 0 -1px black;

$white-bold-outline: -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white, 2px 2px 0 white, -2px 0 white, 2px 0 white, 0 2px white, 0 -2px white;
$black-bold-outline: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black, -2px 0 black, 2px 0 black, 0 2px black, 0 -2px black;

$white-extra-bold-outline: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white, -3px 0 white, 3px 0 white, 0 3px white, 0 -3px white;
$black-extra-bold-outline: -3px -3px 0 black, 3px -3px 0 black, -3px 3px 0 black, 3px 3px 0 black, -3px 0 black, 3px 0 black, 0 3px black, 0 -3px black;

$white-ultra-bold-outline: -4px -4px 0 white, 4px -4px 0 white, -4px 4px 0 white, 4px 4px 0 white, -4px 0 white, 4px 0 white, 0 4px white, 0 -4px white;
$black-ultra-bold-outline: -4px -4px 0 black, 4px -4px 0 black, -4px 4px 0 black, 4px 4px 0 black, -4px 0 black, 4px 0 black, 0 4px black, 0 -4px black;

//
// colors
//

$dark-color: colors.$very-very-dark-grey;
$light-color: colors.$very-very-light-grey;

//
// mixins
//

@mixin white-outline {
	text-shadow: $white-outline;
}

@mixin black-outline {
	text-shadow: $black-outline;
}

@mixin white-bold-outline {
	text-shadow: $white-bold-outline;
}

@mixin black-bold-outline {
	text-shadow: $black-bold-outline;
}

@mixin white-extra-bold-outline {
	text-shadow: $white-extra-bold-outline;
}

@mixin black-extra-bold-outline {
	text-shadow: $black-extra-bold-outline;
}

@mixin white-ultra-bold-outline {
	text-shadow: $white-ultra-bold-outline;
}

@mixin black-ultra-bold-outline {
	text-shadow: $black-ultra-bold-outline;
}

//
// glowing mixins
//

@mixin glow($color: white) {
	text-shadow: 0 0 10px $color;
}

@mixin snuff {
	text-shadow: none;
}