@font-face {
    font-family: 'Open Sans Condensed Bold';
    src: url('OpenSans-CondBold.eot');
    src: url('OpenSans-CondBold.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondBold.woff') format('woff'),
         url('OpenSans-CondBold.ttf') format('truetype'),
         url('OpenSans-CondBold.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
