/******************************************************************************\
|                                                                              |
|                             _dark-item-pages.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../navs/dark-selection";
@use "dark-item-icons";

//
// styles
//

body:not(.binary).dark {
	.pages {
	
		.main-carousel {

			//
			// dark selected items
			//

			.item.selected {

				.icon {
					background-color: dark-item-icons.$selected-background-color;
					border-color: dark-item-icons.$selected-border-color;
				}

				.details {
					background-color: dark-selection.$select-color;
				}
			}
		}
	}
}