/******************************************************************************\
|                                                                              |
|                            _medium-splitters.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// colors
//

$grip-image: url('../../../../images/splitters/black-grip.png');
$grip-horizontal-image: url('../../../../images/splitters/horizontal-grip.png');
$grip-vertical-image: url('../../../../images/splitters/vertical-grip.png');

//
// styles
//

body.binary {
	.split-view {
		.gutter {
			.handle {
				background-image: $grip-image;
			}

			&.gutter-horizontal {
				.handle {
					background-image: $grip-horizontal-image;
				}
			}

			&.gutter-vertical {
				.handle {
					background-image: $grip-vertical-image;
				}
			}
		}
	}
}