/******************************************************************************\
|                                                                              |
|                           _medium-item-lists.scss                            |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";
@use "../items/medium-items";
@use "../navs/medium-selection";

//
// colors
//

$background-opacity: 25%;
$info-color: colors.$medium-grey;
$even-item-background-color: colors.faded(white, $background-opacity);
$odd-item-background-color: colors.faded(colors.$light-grey, $background-opacity);

//
// styles
//

body:not(.binary) {
	.item-list:not(.dropdown-menu) {

		//
		// items
		//

		.item {
			> .info {

				.name {

					//
					// editable names
					//

					&[contenteditable="true"] {
						color: text-colors.$dark-color;
						background-color: white;
						outline-color: medium-selection.$edit-highlight-color;
					}
				}

				//
				// list item specifics
				//

				> .specifics {
					.details {
						background-color: medium-items.$details-background-color;

						i.fa-info-circle {
							color: $info-color;
						}

						.dark &, .desktop .content & {
							color: white;
						}
					}
				}
			}
		}

		//
		// zebra striping
		//

		&:not(.inline) {

			.item:nth-child(odd):not(.selected):not(.highlighted) {
				> div.info {
					background-color: $odd-item-background-color;
				}
			}
		}

		//
		// highlighted items
		//

		.item.highlighted {
			> .info {
				background-color: medium-selection.$highlight-color;

				.icon {
					i {
						color: white;
					}

					/*
					.thumbnail {
						&::after {
							background: colors.faded(medium-selection.$highlight-color; 50%);
						}
					}
					*/
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: medium-selection.$highlight-color;
					}

					//
					// editable names
					//

					&[contenteditable="true"] {
						color: text-colors.$dark-color;
						background-color: white;
					}
				}

				.details {
					color: white;
					background-color: medium-selection.$highlight-color;
				}
			}
		}

		//
		// selected items
		//

		.item.selected {
			> .info {
				background-color: medium-selection.$select-color;

				.icon {

					i {
						color: medium-selection.$select-color;
					}

					/*
					.thumbnail {
						&::after {
							background: colors.faded(medium-selection.$select-color; 50%);
						}
					}
					*/
				}

				.name {

					//
					// uneditable names
					//

					&:not([contenteditable="true"]) {
						color: white;
						background-color: medium-selection.$select-color;
					}
				}

				.specifics > .details {
					color: white;
					background-color: medium-selection.$select-color;

					i, i.fa-info-circle {
						color: white;
					}
				}
			}

			/*
			&.pdf, &.svg {
				.icon {
					&::after {
						background: colors.faded(medium-selection.$select-color; 50%);
					}
				}
			}
			*/
		}

		//
		// dragged file and directory styles
		//

		.drag-image {

			//
			// no zebra striping
			//

			.item:nth-child(odd):not(.selected):not(.highlighted) {
				> .info {
					background: none;
				}
			}
		}
	}

	//
	// unfocused items
	//

	.modal:not(.focused) .modal-dialog,
	.desktop.app:not(.focused) > .body {
		.item-list {

			//
			// selected items
			//

			.item.selected {
				> .info {
					background-color: medium-selection.$highlight-color;

					.icon {
						i {
							color: white;
						}

						/*
						.thumbnail {
							&::after {
								background: colors.faded(medium-selection.$highlight-color; 50%);
							}
						}
						*/
					}

					.name {

						//
						// uneditable names
						//

						&:not([contenteditable="true"]) {
							color: white;
							background-color: medium-selection.$highlight-color;
						}
					}

					.details {
						background-color: medium-selection.$highlight-color;
					}
				}
			}
		}
	}
}