/******************************************************************************\
|                                                                              |
|                            _colorful-pages.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

//
// colors
//

$attention-color: white;
$attention-background-color: var(--primary-color);

//
// styles
//

body:not(.binary).colored.colorful {
	.page {
		.contents {

			//
			// attention regions
			//

			.attention {
				color: $attention-color;
				background-color: $attention-background-color;

				i {
					color: $attention-color;
				}
			}
		}
	}
}