/******************************************************************************\
|                                                                              |
|                              _colored-tabs.scss                              |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the dom and svg visual styles for this application.      |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../colors/colors";

//
// colors
//

$button-color: colors.$medium-red;
$button-icon-color: white;
$button-active-color: darken($button-color, 10%);

//
// styles
//

body:not(.binary) {
	&.colored {
		&.show-tab-close-buttons {
			ul.nav-tabs {
				> li {

					//
					// active tabs
					//

					&.active {

						//
						// tab close icons
						//

						i.fa-times, i.fa-xmark {
							&:hover {
								color: $button-icon-color;
								background-color: $button-color;

								svg {
									fill: $button-icon-color;
								}
							}

							&:active {
								background-color: $button-active-color;
							}
						}
					}
				}
			}
		}
	}
}