/******************************************************************************\
|                                                                              |
|                           _dark-breadcrumbs.scss                             |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines various CSS styles used in this application.             |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|        Copyright (C) 2016-2023, Megahed Labs LLC, www.sharedigm.com          |
\******************************************************************************/

@use "../../../../colors/colors";
@use "../../../../colors/text-colors";

//
// colors
//

$color: text-colors.$light-color;
$icon-color: colors.$light-grey;
$slash-color: colors.$very-light-grey;
$background-color: colors.$very-very-dark-grey;

//
// styles
//

body:not(.binary).dark {

	//
	// dark page breadcrumbs
	//

	.page .breadcrumb {
		color: $color;
		background-color: $background-color;
		
		//
		// dark page breadcrumb slashes
		//

		> li + li:before {
			color: $slash-color;
		}
	}

	//
	// dark address breadcrumbs
	//

	.address-bar .breadcrumb {
		color: $color;

		//
		// dark address breadcrumb icons
		//

		i {
			color: $icon-color;
		}

		//
		// dark address breadcrumb links
		//

		a {
			color: $color;
		}

		//
		// dark address breadcrumb slashes
		//

		> li + li:before {
			color: $slash-color;
		}
	}
}